 <img src="/{{ item.image }}" width="350px" height="350px"><br />
                    <h3>{{ item.name }}</h3> <br />
                    <h4>$ {{ item.price }} </h4><br />
                    <h4>Category: {{ item.category }}</h4><br />
                    <h5>Image Link: {{ item.image }}</h5><br />
<hr>
<fieldset>
    <legend> {{ title }}</legend>

    <!-- Item Name -->
    <label>Item Name: </label>
    <input type="text" name="name" />  

    <!-- Price -->
    <label>Price: $</label>
    <input type="text" name="price" /><br /><br />

    <!-- Category -->
    <label>Category: </label>
    <input type="text" name="category" />  

    <!-- Image URL -->
    <label>Link to Image: </label>
    <input type="text" name ='image' /><br />

</fieldset>