{% extends 'base.html' %}

{% block content %}

    <div class = "container">
        <div class="row">
            {% for item in inventory %}
                <div class="col-md-4 col-sm-3">
                    <img src="/{{ item.image }}" width="350px" height="350px"><br />
                    {{ item.name }}
                    $ {{ item.price }} 
                    {% include 'partials/add_to_cart.html' %}
                    <br /><br />
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}