{% extends 'admin_base.html' %}

{% block content %}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/admin" class='btn btn-light'>Back</a><br /><br />
{% include 'partials/display_item.html' %}

<p>
    <a href="/inventory/{{ item._id }}/edit" class='btn btn-primary'>Edit</a>

    <form method='POST' action='/inventory/{{ item._id }}/delete'>
        <input type='hidden' name='_method' value='DELETE'>
        <button class='btn btn-dark' type='submit'>Delete</button>
    </form>
</p>    

{% endblock content %}
